html {
    box-sizing: content-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ddd;
}
.main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}
.header {
    padding: 0 10px;
}
.section {
    background-color: white;
    margin: 15px 0;
}
.section__header {
    padding: 10px;
    margin : 0px;
    border-bottom: solid 2px #eee;
}
.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    padding: 20px;
}
.form__button {
    background: teal;
    color: white;
    border: none;
    font-size: 25px;
    height: 40px;
    border-radius: 0;
}
@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    };

}
.list {
    list-style: none;
    padding: 15px;
    margin: 0;
}


